@model AzureBeyondBasics.Controllers.CustomerEntity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Created new customer and added to queue @Model.RowKey
    </div>
</body>
</html>
